.userimage {
  border-radius: 50%;
  }
.table {
  margin-top: 50px
}
button {
  margin-top: 50px;
}
.btn-outline-primary {
margin-left: 650px;
}
.btn-outline-success {
  margin-left: 50px;
}
/* .firstname {

} */
.addimg {
  margin-top: 30px;
  margin-left: 15px;
  width: 50px;
  height: 50px;
}
.editimg {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  /* background-color: lightblue; */
  margin-top: 20px;
  /* display: none; */
}
