<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
</head>
<body>
  <select (change)="onSelect($event.target.value)">
      <option *ngFor="let op of opciones" [value]="op.id">{{op.name}}</option>
  </select>

  <ul>
    <table style="width:100%">
    <tr *ngFor= "let us of usuarios">
        {{us.id}}. <img style="border-radius: 50%" src="{{us.avatar}}" alt="avatar">
      <b>  {{us.first_name}} {{us.last_name}} </b>   <br><br>
     </tr>

    </table>
  </ul>
  <button
  [disabled]="buttonDisabled1"
  style="color:rgb(0, 132, 255)"
  (click)="onClick(false)">
  Retroceder
</button>
  <button
  [disabled]="buttonDisabled2"
  style="color:rgb(109, 196, 23)"
  (click)="onClick(true)">
  Avanzar
</button>
 <!-- <div>selection={{selectedOpcion.name}}</div> -->
</body>
</html>
