<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <select (change)="onSelect($event.target.value)">
      <option *ngFor="let op of opciones" [value]="op.id">{{op.name}}</option>
  </select>

      <table class="table"  class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Photo</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor= "let us of usuarios">
            <th scope="row">{{us.id}}</th>
            <td>
                <img class="userimage" src="{{us?.avatar}}" alt="avatar">
            </td>
            <td class="firstname">{{us?.first_name}}</td>
            <td class="lastname">{{us?.last_name}}</td>
            <td class="lastname">
              <input
              onclick= "myFunction()"
              type="image" src="../../../assets/img/add.png"
              name="saveForm" class="addimg" id="saveForm"/>
              <div id="myDIV">
                  <form action="ejemplo.php" method="get">
                      <form novalidate [formGroup]="user">
                          <label>
                            <span>First name :  </span>
                            <input
                              type="text"
                              placeholder="adrian"
                              formControlName="firstname">
                          </label> <br>
                          <label>
                              <span>Last Name : </span>
                              <input
                                placeholder="gomez"
                                formControlName="lastname">
                            </label> <br>
                            <label>
                              <span>Url :  </span>
                              <input
                                placeholder="car.png"
                                formControlName="url">
                            </label>
                        </form>
                            <button (click)="clickFormulario()" type="submit" [disabled]="user.invalid">Sign up</button>
                          </form>
               </div>
              <input
              (click)="borrar(us.id)"
              type="image" src="../../../assets/img/delete.png"
              name="saveForm" class="addimg"
              id="saveForm"/>
              <input
              type="image"
              src="../../../assets/img/edit.png"
              name="saveForm" class="editimg" id="saveForm" />
            </td>
          </tr>
          </tbody>
        </table>
  <button
  class="btn btn-outline-primary"
  [disabled]="buttonDisabled1"
  (click)="onClick(false)">
  Retroceder
</button>
  <button
  class="btn btn-outline-success"
  [disabled]="buttonDisabled2"
  (click)="onClick(true)">
  Avanzar
</button>
<script>
    function myFunction() {
      var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
    }
    </script>

</body>
</html>
