<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
</head>
<body>
  <select (change)="onSelect($event.target.value)">
      <option *ngFor="let Opcion of Opciones"
        [defaultSelected]="1"
        [value]="Opcion.id">
        {{Opcion.name}}
      </option>

      </select>
      <ul>
    <table style="width:100%">
    <div *ngFor= "let usuario of usuarios">
   <tr> <img style="border-radius: 50%" src="{{usuario.avatar}}" alt="avatar">   <tr>
   <b> {{usuario.id}}. {{usuario.first_name}} {{usuario.last_name}} </b>   <br><br>
     </tr>

    </div>
    </table>
  </ul>
  <button
  [disabled]="buttonDisabled1"
  style="color:rgb(0, 132, 255)"
  (click)="onClick(false)">
  Retroceder
</button>
  <button
  [disabled]="buttonDisabled2"
  style="color:rgb(109, 196, 23)"
  (click)="onClick(true)">
  Avanzar
</button>
 <!-- <div>selection={{selectedOpcion.name}}</div> -->
</body>
</html>
